// reset and basics

@font-face {
    font-family: 'FontName';
    src: url('font/font.eot');
    src: url('font/font.eot') format('embedded-opentype'),
         url('font/font.woff') format('woff'),
         url('font/font.ttf') format('truetype'),
         url('font/font.svg#AvenirNextLTW01RegularRegular') format('svg');
}

body {
  background: white;
  min-width: 300px;
}

html, body, div, img, p {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  box-sizing: border-box;
  vertical-align: middle;
  font-family: FontName, sans-serif;
  font-size: 1em;
}

strong {
  font-size: 1.2em;
  text-transform: uppercase;
}

hr {
  width: 80%;
  margin-top: 1em;
  margin-bottom: 1em;
  border: 1px solid #dddddd;
}

// responsive layout

.outer {
  max-width: 56.625em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin: 0 auto;
  box-sizing: content-box;
  min-widh: 19.1875em;
}

.outer-sidebar {
  display: inline-block;
  width: 2.4em;
  min-width: 2.4em;
  height: 100%;
}

#current-inner {
  display: inline-block;
}

.inner {
  max-width: 51.25em;
  margin: 0 auto;
}

// header

#header img {
  max-height: 11.6em;
}

#header-inner {
  padding: 0 0 0 0;
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

// middle

.sub-inner {
  max-width: 19.1875em;
  margin: 0 auto;
}

#text {
  padding-top: 3.4375em;
  padding-bottom: 3.4375em;
}

#options-inner {
  max-width: 54.375em;
  margin: 0 auto;
  text-align: center;
  a {
    display: inline-block;
    margin: 1.4em;
  }
  a:hover {
    content: 'xxx';
    img {
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
      cursor: pointer;
    }
  }
}

#navigate-left, #navigate-right, #preview {
  display: inline-block;
  box-sizing: border-box;
}


#preview-location {
  font-size: 0.75em;
  color: #777777;
}

#navigate-left, #navigate-right, #navigate-right-bottom {
  a:hover {
    cursor: pointer;
    img {
      -webkit-filter: brightness(50%);
      filter: brightness(50%);
    }
  }
}

#navigate-left {
  text-align: right;
}

#navigate-right-bottom {
  @extend .outer-sidebar;
  float: right;
  height: inherit;
  transform: translateY(-3em);
  a {
    display: block;
    padding-bottom: 0.1em;
  }
}

#preview img {
  max-width: 100%;
  width: 51.25em;
  height: 35.1875em;
}

#preview-text-header {
  white-space: pre;
  font-style: italic;
}

#preview-social-media {
  text-align: center;
  a {
    padding: 0.6em;
  }
  a:hover {
    cursor: pointer;
    img {
      -webkit-filter: brightness(50%);
      filter: brightness(50%);
    }
  }
}

// bottom

#footer-inner {
  padding: 0.5em;
  background: #dddddd;
  text-align: center;
  ul {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    display: inline;
    li {
      font-size: 0.8em;
      display: inline-block;
    }
    li + li:before {
      content: " | ";
      color: grey;
    }
  }
  a, a:visited {
    color: #333333;
    font-weight: bold;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

#music {
  display: none;
}
